::root {
    --background: rgb(246, 177, 177);
    --shadow: rgb(51, 51, 51);
    --nav: rgb(220, 27, 27);
    --spotlight: rgb(171, 171, 171);
    --textbackground: rgb(211, 211, 211);
    --color-text: rgb(111, 111, 111);
}

article, aside, figcaption, figure,
footer, header, main, nav, section { 
    display: block;
}
address, article, aside, blockquote, body, cite, 
div, dl, dt, dd, em, figcaption, figure, footer, 
h1, h2, h3, h4, h5, h6, header, html, img, 
li, main, nav, nav a, ol, p, section, span, ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;  
}

body {
    line-height: 1.2em;
}

ul ol {
    list-style: none;
}

nav ul {
    list-style: none;
    list-style-image: none;
}
nav a {
    text-decoration: none;
}

html {
    background-color: var(--background);
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
}
body {
    background-color: white;
    max-width: 1024px;
    margin: 0 auto;
    box-shadow: var(--shadow) 10px 10px 25px, var(--shadow) -10px 10px 25px;
}
header body {
    background-color: white;
    width: 100%;
}

#logoImage {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

p {
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin: 15px;
}

nav ul, .top {
    margin: 10px;
}
nav ul a, .top{
    color: white;
    display: block;
    font-size: 1.2rem;
    text-align: center;
    padding-left: 0%;
    padding-top: 5%;
    padding-right: 0%;
    padding-bottom: 5%;
}

nav ul a:hover, .top {
    background-color: var(--nav);
    text-shadow: 0px 0px 2px black 0px 0px 15px white;
}
p img {
    float: right;
    width: 45%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 120px;
    margin-left: 50px;
    box-shadow: black 10px -10px 30px;
    transform: rotate(30deg);
}

section, .spotlight {
    background-color: var(--spotlight);
    padding-bottom: 15px;
    overflow: hidden;
}

section h1, .spotlight {
    font-size: 2.5rem;
    color: var(--color-text);
    text-shadow: white -2px 0px 1px, white -5px 0px 30px;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 0px;
    text-align: end;
}

section img, .spotlight {
    width: 35%;
    float: left;
    display: block;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 15px;
}
section p, .spotlight {
    margin-bottom: 0;
}

aside {
    background-color: var(--background);
}

aside a {
    color: var(--nav);
}

aside h1 {
    font-size: 2rem;
    font-weight: normal;
    word-spacing: .4rem;
    text-align: center;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 0px;
}
aside img {
    display: block;
    width: 30%;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
}
dl {
    text-align: center;
}

footer {
    width: 100%;
}
dl dt {
    margin-bottom: 20px;
}

#bottom nav {
    background-color: var(--nav);
    color: var(--color-text);
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

#bottom nav ul li {
    font-size: 1rem;
    line-height: 1.8rem;
}
#bottom nav ul a {
    color: white;
}

footer p {
    color: var(--color-text);
    font-size: .9rem;
    text-align: center;
    background-color: black;
    margin: 0;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 10px;
}
#bottom nav ul {
    display: flex;
    flex-grow: initial;
    flex-shrink: unset;
    max-width: 150px;
}
@media(max-width: 480px) {
    body {
        background-color: var(--shadow);
        color: var(--textbackground);
    }
    aside {
        display: none;
    }
    img {
        display: none;
    }
    section, .spotlight {
        display: none;
    }
    nav ul, .top {
        font-size: 2.2rem;
        display: flex;
        size: 130px;
        flex-shrink: 1;
        flex-grow: 1;
    }
    nav ul li a, .top {
        padding-top: 50%;
        padding-bottom: 50%;
        padding-right: 0%;
        padding-left: 0%;
    }
    nav.top ul li:nth-of-type(1) {
        background-image: url(images/cw_image01.png);
        background: center;
        flex-wrap: nowrap;
    }
    nav.top ul li:nth-of-type(1) {
        background-image: url(images/cw_image02.png);
        background: center;
        flex-wrap: nowrap;
    }
    nav.top ul li:nth-of-type(1) {
        background-image: url(images/cw_image03.png);
        background: center;
        flex-wrap: nowrap;
    }
    nav.top ul li:nth-of-type(1) {
        background-image: url(images/cw_image04.png);
        background: center;
        flex-wrap: nowrap;
    }
    nav.top ul li:nth-of-type(1) {
        background-image: url(images/cw_image05.png);
        background: center;
        flex-wrap: nowrap;
    }
    nav.top ul li:nth-of-type(1) {
        background-image: url(images/cw_image06.png);
        background: center;
        flex-wrap: nowrap;
    }
    #links p {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
    }
    #links a {
        background-color: var(--nav);
        color: white;
        text-decoration: none;
        padding: 10px;
        border-radius: 20px;
    }
}

@media(max-width: 481) {
    body {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    article {
        flex-shrink: 1;
        flex-grow: 2;
        flex-basis: 400px;
    }
    aside {
        flex-shrink: 2;
        flex-grow: 1;
        flex-basis: 200px;
    }
    nav ul li, .top {
        display: flexbox;
        flex-wrap: wrap;
        flex-direction: row;
        background-color: var(--shadow);
        height: 50px;
        justify-content: center;
        justify-items: center;
    }
    nav ul li, .top {
        flex-basis: 800px;
        flex-grow: 0;
        flex-shrink: 1;
    }
    #links p {
        display: none;
    }

}
